$primaryBtn: rgba(0, 0, 255, 0.371);
$secondaryBtn: rgb(213, 145, 145);
$primaryBKG: rgba(0, 0, 255, 0.371);
$secondaryBKG: rgba(119, 255, 0, 0.427);
@mixin gradient($color1, $color2) {
	background-image: linear-gradient($color1, $color2);
}
@mixin box-property {
	// border-radius: 10px;
	border: solid 2px rgba(0, 83, 35, 0.809);
	text-align: center;
	align-content: center;
	font-family: Helvetica, sans-serif;
	font-size: 1.2rem;
	margin: 0.5rem 1rem;
}
@mixin button-style {
	width: 20%;
	justify-self: center;
	margin: 0.5rem;
}

@mixin input-style {
	height: 2rem;
	width: 80%;
	background-color: $primaryBKG;
}
html {
	@include gradient(rgb(162, 0, 255), rgb(0, 94, 255));
}

body {
	input {
		@include box-property();
		@include input-style();
	}
	button {
		@include button-style();
		@include box-property();
	}
	div {
		height: 2rem;
		@include input-style();
		color: white;
	}
}
.user-container {
	display: flex;
	flex-direction: column;
	height: 90vh;
	width: 90vw;
	gap: 1rem;
	background-color: rgb(250, 250, 250);
}
.user-input {
	background-color: $primaryBKG;
}
.user-input--btn {
	background-color: $primaryBtn;
}

.user-input-expense {
	background-color: $secondaryBKG;
}

.budget-income {
	background-color: rgb(86, 86, 86);
	@include box-property;
}
.budget-expense {
	background-color: rgb(86, 86, 86);
	@include box-property;
}

.budget-btn {
	background-color: $secondaryBtn;
	@include box-property;
	@include button-style;
}

.budget-summary {
	background-color: yellow;
	color: black;
	@include box-property;
}
